# Python
__pycache__/
*.py[cod]
*.egg-info/
.build/
dist/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/

# PackageCompiler build artifacts
/mnt/d/Dropbox/Netanomics_Resources/Documents/SBP_BRIMS_2025/Large_Graph_Similarity/julia_env/build/
/mnt/d/Dropbox/Netanomics_Resources/Documents/SBP_BRIMS_2025/Large_Graph_Similarity/julia_env/build/*
/mnt/d/Dropbox/Netanomics_Resources/Documents/SBP_BRIMS_2025/Large_Graph_Similarity/julia_env/build/**

# Sysimages generated during build
*.so
*.dylib
*.dll

# Temporary PackageCompiler files
tmp/
tmp/*
jl_*.o
jl_*.ji
